@using MVCPL.Infrastructure.Helpers
@using MVCPL.Models

@model MVCPL.Models.BookInfoViewModel
 
@{
    ViewBag.Title = "About";
}

@section Body{
    <img src="data:image/gif;base64,@Convert.ToBase64String(Model.Book.Cover)" class="img-rounded info-image" alt="Cover" />
    <hr />
    <h1 class="info-book-name">
        @Model.Book.Name
    </h1>
    <hr />
    <ul class="reset">
        <li>
            <b>Year: </b>
            @Model.Book.Year
        </li>
        <li>
            <b>Genre: </b>
                @{
                    string genres = "";
                    foreach (var item in Model.Book.Genres)
                    {
                        genres += item.Name + ", ";
                    }
                    <span>@genres.Remove(genres.Length - 2, 2)</span>
                }
        </li>
        <li>
            <b>Authors: </b>
                @{ 
                    string authors = "";
                    foreach (var item in Model.Book.Authors)
                    {
                        authors += item.Name + ", ";
                    }
                    <span>@authors.Remove(authors.Length - 2, 2)</span>
                }
        </li>
        <li>
            <b>Description: </b>
            <span>
                @Model.Book.Description
            </span>
        </li>
    </ul>
    <div class="clear"></div>
    @using (Html.BeginForm("Download", "Book", new { id = Model.Book.Id }, FormMethod.Post))
    {
        <input type="submit" value="Download" class="btn btn-success" />
    }
    <hr />

    <div id="comments">
        @Html.Partial("Comments", Model.Comments)
    </div>

    @if (Request.IsAuthenticated)
    {
        <hr />
        using (Ajax.BeginForm("Create", "Comment", new AjaxOptions {OnSuccess = "OnSuccess", UpdateTargetId = "comments" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <label class="control-label">Comment:</label>
            <div class="form-group">
                <textarea name="Text" class="form-control comment-message-box" id="textarea" rows="5"></textarea>
            </div>
            <input type="hidden" name="BookId" value="@Model.Book.Id" />
            <div class="form-inline">
                <input type="submit" value="Comment" class="btn btn-primary" />
                <input type="reset" value="Cancel" class="btn btn-default" />
            </div>
        }
    }
    <script type="text/javascript">
        function OnSuccess() {
            $("#textarea").val("");
        }
    </script>
 }

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
}