@using MVCPL.Infrastructure.Helpers
@using MVCPL.Models

@model IEnumerable<MVCPL.Models.CommentViewModel>

@helper ShowComment(CommentViewModel comment) {
    <hr />
    <div class="comment row">
        <a href="javascript:void(0);" class="comment-img-a col-md-1 col-sm-1 col-xs-2">
            <img src="data:image/gif;base64,@Convert.ToBase64String(comment.Avatar)" alt="Avatar" class="comment-img" />
        </a>
        <div class="comment-contentcomment-content col-md-11 col-sm-11 col-xs-10">
            <div class="comment-author">@comment.AuthorName</div>            
            <div class="clear"></div>
            <div class="comment-text">
                @comment.Text
            </div>
            
            @if (comment.AuthorName == User.Identity.Name || User.IsInRole("Admin"))
            {
                using (Ajax.BeginForm("Delete", "Comment", new { id = comment.Id, bookId = comment.BookId },
                    new AjaxOptions { UpdateTargetId = "comments", Confirm = "Are you sure you want to delete this comment?" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn btn-sm comment-change" value="Delete" />
                }
            }
            <div class="comment-time">
                @comment.CreationDate.Date.ToString("dd.MM.yyyy")
            </div>
            <div class="clear"></div>
        </div>
    </div>
}
@foreach (var item in Model)
{
    @ShowComment(item)
}

